.card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: 0.3s;
  border-radius: 5px;
  width: 300px;
  margin: 0 16px 16px 0;
  padding-bottom: 16px;
}

#cardImg {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 8px 16px;
}

.container, h4, p {
  text-align: left;
  color: black;
}

.container> button {
  float: right;
  padding: 8px;
  background-color: #54B589;
  color: black;
  outline: none;
  border: 0px;
  font-weight: 700;
  border-radius: 4px;
  text-transform: uppercase;
}

@media screen and (max-width: 640px) {
  .card {
    margin: 16px 0;
  }
}


